.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 90%;
    height: 10%;
    max-width: 1500px;
    border-bottom: 1px solid #353434;
    padding-bottom: 20px;
}
.navbar__logo{
    font-size: 3rem;
    line-height: 1;
    flex: 1;
    font-weight: bold;
}
.navbar__logo > span{
    color: #3baa7c;
    font-size: 2rem;
    display: block;
}
select{
    background-color: transparent;
    color: white;
    border-color: transparent;
    /* border: 1px solid #353434; */
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1rem;
    flex: 0.7;
}
option{
    background-color: transparent;
    background-color: #353434;
    color: white;
}
.navbar__options{
    flex: 1;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    
}
.navbar__options > p {
    /* border: 1px solid #353434; */
    padding: 8px 10px;
    border-radius: 5px;
    flex: 0.7;
    text-align: center;
    margin: 0 1%;
}
button{
    flex: 0.7;
    background-color: #3baa7c;
    border-color: transparent;
    color: white;
    font-weight: 600;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5%;
}